asgiref
certifi
charset-normalizer
cloudinary
colorama
decorator
dj-database-url
Django
django-cloudinary-storage
django-jazzmin
django-password-validators
filemagic
gunicorn
idna
imageio
imageio-ffmpeg
moviepy
numpy
Pillow
ply
proglog
psycopg2
psycopg2-binary
python-decouple
python-dotenv
pytz
requests
six
sqlparse
stone
tqdm
typing_extensions
tzdata
urllib3
whitenoise