{% load static %}
{% include 'header.html' %}


<body id="bg">
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form"> 
		<div class="account-head" style="background-image:url(/static/assets/images/background/bg2.jpg);">
			<a href="{% url 'homepage' %}"><img src="{% static 'assets/images/solulearn.png' %}" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="error-page">
					<h3>Ooopps :(</h3>
					<h2 class="error-title">404  </h2>
					<h5>The Page/Resource you were looking for, couldn't be found.</h5>
					<p>The page/Resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
					<div class="">
						{% comment %} <a href="index.html" class="btn m-r5">Preview</a> {% endcomment %}
						<a href="{% url 'homepage' %}" class="btn outline black">Back To Homepage</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'js-links.html' %}
App key - sz51w7ipwbbicix
App secret  -  vfxe71262hgfuyu
sl.BpTI615NHU51mODwHdqlRmMCnn6KRgYiLr8JtMzg9_x7sz4NkGQoUJFfpm1ae5HuYpAIWapqJuaqx3adfcNZu-xDwux2YxGQUJwIdSeyTaMXanT7GmzcEF7fnQjCuMqpTm4i_MXHMvSa4-5FLF5G
curl https://api.dropbox.com/oauth2/token \
    -d code=aTtfFVhNl6wAAAAAAAAAO547ytVJo3wCCb3cThKV6to \
    -d grant_type=authorization_code \
    -u sz51w7ipwbbicix:vfxe71262hgfuyu




	{"access_token": "sl.BpR-8wCdO65dsKrmz67Nj9eFiciJ_Kd9uqS9hmDSb9kfbJ-TcclA-Gc53lyvPm4FhFquAknRzgcwXZnwfkvtai0cogTSdAIOQvJjgfkSGLoLiSPnV5y5rmBUwUDF3XlCmZnz5qb78JkDcfU-snCL", "token_type": "bearer", "expires_in": 14400, "refresh_token": "ZmqkjAn9E50AAAAAAAAAAQIMSyQzGl8wJNDkro_kzt4D3Nyj77331o-W5bRJ9rjh", "scope": "account_info.read account_info.write file_requests.read file_requests.write files.content.read files.content.write files.metadata.read files.metadata.write sharing.read sharing.write", "uid": "1306786353", "account_id": "dbid:AABtbcRpzKH1st6So7gGJW7Rq2o6HXq9fp8"}
