{% extends 'main/base.html' %}
{% load static %}
{% block content %}


<div class="content-block">
	<!-- About Us ==== -->
	<div class="section-area section-sp1">
		<div class="container">
			 <div class="row">
				 <div class="col-lg-12 m-b30">
					<h2 class="title-head ">Learn a new skill online<br/> <span class="text-primary"> on your time</span></h2>
					<p>Learn a new skill online, on your time. With over 57,000 online courses, Solulearn offers a flexible learning experience that fits seamlessly into your busy schedule. Access high-quality content from industry experts, engage with a vibrant community of learners, and explore a diverse range of subjects. Start your learning journey today and unlock your full potential.</p>
					<a href="#" class="btn button-md">Join Now</a>
				 </div>
				
			</div>
		</div>
	</div>
	<!-- About Us END ==== -->
	<!-- Why Choose ==== -->
	<div class="section-area bg-gray section-sp2 choose-bx">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading-bx text-center">
					<h2 class="title-head text-uppercase m-b0">Why Choose <span> Our Institution</span></h2>
					<p>Here are some things that make us stand out.</p>
				</div>
			</div>
			<div class="row choose-bx-in">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="service-bx">
						<div class="action-box">
							<img src="{% static 'assets/images/our-services/pic1.jpg' %}" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-bank text-primary"></i>
							</div>
							<h4><a href="#">Best Industry Leaders</a></h4>
							<a href="#" class="btn radius-xl">View More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="service-bx">
						<div class="action-box">
							<img src="{% static 'assets/images/our-services/pic2.jpg' %}" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-book text-primary"></i>
							</div>
							<h4><a href="#">Learn Courses Online</a></h4>
							<a href="#" class="btn radius-xl">View More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="service-bx m-b0">
						<div class="action-box">
							<img src="{% static 'assets/images/our-services/pic3.jpg' %}" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-file-text-o text-primary"></i>
							</div>
							<h4><a href="#">Book Library & Store</a></h4>
							<a href="#" class="btn radius-xl">View More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Why Choose END ==== -->
	<!-- Company Status ==== -->
	<div class="section-area content-inner section-sp1">
		<div class="container">
			<div class="section-content">
				<div class="row text-center">
					<div class="col-lg-4 col-md-6 col-sm-6 col-6 m-b30">
						<div class="counter-style-1">
							<div class="text-black">
								<span class="counter">{{total_users}}</span><span>+</span>
							</div>
							<span class="counter-text">users</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-6 m-b30">
						<div class="counter-style-1">
							<div class="text-primary">
								<span class="counter">{{total_courses}}</span><span>+</span>
							</div>
							<span class="counter-text">courses</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-6 m-b30">
						<div class="counter-style-1">
							<div class="text-black">
								<span class="counter">{{total_enrolled_courses}}</span><span>+</span>
							</div>
							<span class="counter-text">enrolled courses</span>
						</div>
					</div>
					
				</div>
		</div>
			</div>
		</div>
	</div>
	<!-- Company Stats END ==== -->
	<!-- Our Story ==== -->
	<div class="section-area bg-gray section-sp1 our-story">
		<div class="container">
			<div class="row align-items-center d-flex">
				<div class="col-lg-5 col-md-12 heading-bx">
					<h2 class="m-b10">Our Story</h2>
					{% comment %} <h5 class="fw4">It is a long established fact that a reade.</h5> {% endcomment %}
					<p>Soluleran was founded with a clear mission in mind—to revolutionize the way people learn and share knowledge. Recognizing the need for a flexible and user-friendly platform that could adapt to the evolving needs of learners and educators, we set out to create a powerful LMS that would revolutionize online education.</p>

					<a href="#" class="btn">Read More</a>
				</div>
				<div class="col-lg-7 col-md-12 heading-bx p-lr">
					<div class="video-bx">
						<img src="{% static 'assets/images/about/pic1.jpg' %}" alt=""/>
						<a href="https://www.youtube.com/watch?v=x_sJzVe9P_8" class="popup-youtube video"><i class="fa fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Our Story END ==== -->
	<!-- Testimonials ==== -->
	<div class="section-area section-sp2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading-bx left">
					<h2 class="title-head text-uppercase">what people <span>say</span></h2>
					<p>Hear what some of our customers have to say</p>
				</div>
			</div>
			
			<div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
				<div class="item">
					<div class="testimonial-bx">
						<div class="testimonial-thumb">
							<img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt="">
						</div>
						<div class="testimonial-info">
							<h5 class="name">Sarah</h5>
							<p>-Educator</p>
						</div>
						<div class="testimonial-content">
							<p>"I have been using Solulearn's LMS for over a year, and it has truly transformed my teaching experience. The platform is intuitive and easy to navigate, allowing me to create engaging courses with interactive content. My students love the collaborative features and personalized learning options. The analytics and reporting tools have helped me track their progress effectively. Thank you, Solulearn, for revolutionizing online education!"</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-bx">
						<div class="testimonial-thumb">
							<img src="{% static 'assets/images/testimonials/pic2.jpg' %}" alt="">
						</div>
						<div class="testimonial-info">
							<h5 class="name">Mark</h5>
							<p>- Corporate Training Manager</p>
						</div>
						<div class="testimonial-content">
							<p>"Our organization recently adopted Solulearn's LMS, and we couldn't be happier with the results. The platform has streamlined our training process, making it efficient and accessible for our employees. The ability to create custom courses and track individual progress has been invaluable. The support team at Solulearn has been responsive and helpful throughout the implementation process. We highly recommend their LMS for any company looking to enhance their employee training programs."
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-bx">
						<div class="testimonial-thumb">
							<img src="{% static 'assets/images/testimonials/pic3.jpg' %}" alt="">
						</div>
						<div class="testimonial-info">
							<h5 class="name">Billy</h5>
							<p>- Student</p>
						</div>
						<div class="testimonial-content">
							<p>"As a busy college student, Solulearn's LMS has been a game-changer for me. I appreciate the flexibility it offers, allowing me to access course materials and complete assignments at my own pace. The interactive features, such as discussion boards and virtual classrooms, have made online learning engaging and interactive. The user-friendly interface makes navigation a breeze. Thank you, Solulearn, for providing an exceptional learning experience!"
	
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Testimonials END ==== -->
</div>
{% endblock  %}

