{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="section-area section-sp1 ovpr-dark bg-fix online-cours" style="background-image:url(/static/assets/images/background/bg1.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center text-white">
				<h2>Learn Courses Online</h2>
				<h5>Learn or Level up Your Skills With Our Online Courses</h5>
				<form class="cours-search" action="{% url 'all-courses' %}">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="What do you want to learn today?" name="q">
						<div class="input-group-append">
							<button class="btn" type="submit">Search</button> 
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="mw800 m-auto">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="cours-search-bx m-b30">
						<div class="icon-box">
							<h3><i class="ti-user"></i><span class="counter">{{total_students}}</span>M</h3>
						</div> 
						<span class="cours-search-text">Over {{total_students}} million students</span>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="cours-search-bx m-b30">
						<div class="icon-box">
							<h3><i class="ti-book"></i><span class="counter">{{total_courses}}</span>K</h3>
						</div>
						<span class="cours-search-text">{{total_courses}} Courses.</span>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- Main Slider -->
<div class="content-block">
<!-- Popular Courses -->
<div class="section-area section-sp2 popular-courses-bx">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading-bx left">
				<h2 class="title-head">Popular <span>Courses</span></h2>
				<p>Take a look at some of our most sought after courses</p>
			</div>
		</div>
		<div class="row">
		<div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
			{% for course in courses %}
			<div class="item">
				<div class="cours-bx">
					<div class="action-box">
						<img src="{{course.thumbnail.url}}" style="height:200px" alt="">
						<a href="{% url 'course-detail' course.slug %}" class="btn">Read More</a>
					</div>
					<div class="info-bx text-center">
						<h5><a href="#">{{course.title}}</a></h5>
						<span>{{course.category}}</span>
					</div>
					<div class="cours-more-info">
						<div class="review">
							<span>{{course.no_reviews}} Review </span>
							<ul class="cours-star">
								{% for i in "12345" %}
								{% if i|add:0 <= course.average_rating %}
								<li class="active"><i class="fa fa-star"></i></li>
								{% else %}
								<li class="no-star"><i class="fa fa-star"></i></li>
								{% endif %}
								{% endfor %}
								
							</ul>
						</div>
						<div class="price">
							{%if course.price == 0 %}
							<h5 class="free">Free</h5>	
							{% elif course.discount == 0.0 %}
							<h5>${{course.price}}</h5>	
							{% else %}
							<del>${{course.price}}</del>
							<h5>${{course.discount_price}}</h5>
							{% endif %}	
					</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		</div>
	</div>
</div>
<!-- Popular Courses END -->
<div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center " style="background-image:url(/static/assets/images/background/bg1.jpg);">
	<div class="container">
		<div class="row ">
			<div class="col-md-12 p-5">
				<div class="join-content-bx text-white">
					<h2>Learn a new skill online on <br> your time</h2>
					<p>
						Learn a new skill online, on your time. With over 57,000 online courses, Solulearn offers a flexible learning experience that fits seamlessly into your busy schedule. Access high-quality content from industry experts, engage with a vibrant community of learners, and explore a diverse range of subjects. Start your learning journey today and unlock your full potential.
					</p>
					{% if user.is_authenticated %}
					<a href="{% url 'all-courses' %}" class="btn button-md">Continue To Courses</a>
					{% else %}
					<a href="{% url 'signup' %}" class="btn button-md">Get Started</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Form END -->
<div class="section-area section-sp1">
	<div class="container">
		 <div class="row">
			 <div class="col-lg-6 m-b30">
				<h2 class="title-head ">Skill up today<br> <span class="text-primary"> </span></h2>
			
				<p>
					Join us on the journey of lifelong learning and discover the endless possibilities that our Learning Management System offers. Whether you are an educational institution, a corporation, or an individual learner, Solulearn is here to empower you to thrive in the digital learning landscape.
				</p>
				{% if user.is_authenticated %}
					<a href="{% url 'all-courses' %}" class="btn button-md">Continue To Courses</a>
					{% else %}
					<a href="{% url 'about' %}" class="btn button-md">About Us</a>
					{% endif %}
			 </div>
			 <div class="col-lg-6">
				 <div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon1.png' %}" alt=""></a> 
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">Our Philosophy</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon2.png' %}" alt=""></a> 
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">Kingster's Principle</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon3.png' %}" alt=""></a> 
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">Key Of Success</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon4.png' %}" alt=""></a> 
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">Our Philosophy</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Testimonials -->
<div class="section-area section-sp1 bg-fix ovbl-dark text-white" style="background-image:url(/static/assets/images/background/bg1.jpg);">
	<div class="container">
		<div class="row text-center">
				<div class="col-lg-4 col-md-6 col-sm-6 col-6 m-b30">
					<div class="counter-style-1">
						<div class="text-white">
							<span class="counter">{{total_users}}</span><span>+</span>
						</div>
						<span class="counter-text">users</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-6 m-b30">
					<div class="counter-style-1">
						<div class="text-white">
							<span class="counter">{{total_courses}}</span><span>+</span>
						</div>
						<span class="counter-text">courses</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-6 m-b30">
					<div class="counter-style-1">
						<div class="text-white">
							<span class="counter">{{total_enrolled_courses}}</span><span>+</span>
						</div>
						<span class="counter-text">enrolled courses</span>
					</div>
				</div>
				
			</div>
	</div>
</div>
<!-- Testimonials END -->
<!-- Testimonials ==== -->
<div class="section-area section-sp2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading-bx left">
				<h2 class="title-head text-uppercase">what people <span>say</span></h2>
				<p>Hear what some of our customers have to say</p>
			</div>
		</div>
		<div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
			<div class="item">
				<div class="testimonial-bx">
					<div class="testimonial-thumb">
						<img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt="">
					</div>
					<div class="testimonial-info">
						<h5 class="name">Sarah</h5>
						<p>-Educator</p>
					</div>
					<div class="testimonial-content">
						<p>"I have been using Solulearn's LMS for over a year, and it has truly transformed my teaching experience. The platform is intuitive and easy to navigate, allowing me to create engaging courses with interactive content. My students love the collaborative features and personalized learning options. The analytics and reporting tools have helped me track their progress effectively. Thank you, Solulearn, for revolutionizing online education!"</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-bx">
					<div class="testimonial-thumb">
						<img src="{% static 'assets/images/testimonials/pic2.jpg' %}" alt="">
					</div>
					<div class="testimonial-info">
						<h5 class="name">Mark</h5>
						<p>- Corporate Training Manager</p>
					</div>
					<div class="testimonial-content">
						<p>"Our organization recently adopted Solulearn's LMS, and we couldn't be happier with the results. The platform has streamlined our training process, making it efficient and accessible for our employees. The ability to create custom courses and track individual progress has been invaluable. The support team at Solulearn has been responsive and helpful throughout the implementation process. We highly recommend their LMS for any company looking to enhance their employee training programs."
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="testimonial-bx">
					<div class="testimonial-thumb">
						<img src="{% static 'assets/images/testimonials/pic3.jpg' %}" alt="">
					</div>
					<div class="testimonial-info">
						<h5 class="name">Billy</h5>
						<p>- Student</p>
					</div>
					<div class="testimonial-content">
						<p>"As a busy college student, Solulearn's LMS has been a game-changer for me. I appreciate the flexibility it offers, allowing me to access course materials and complete assignments at my own pace. The interactive features, such as discussion boards and virtual classrooms, have made online learning engaging and interactive. The user-friendly interface makes navigation a breeze. Thank you, Solulearn, for providing an exceptional learning experience!"

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Testimonials END ==== -->
</div>
{% endblock content %}