{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="page-content bg-white">
	
	<!-- Breadcrumb row END -->
	<div class="content-block">
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<!-- Left part start -->
					<div class="col-lg-8 col-xl-8">
						<!-- blog start -->
						<div class="recent-news blog-lg">
							<div class="action-box blog-lg">
								<img src="{{post.thumbnail.url}}" alt="">
							</div>
							<div class="info-bx">
								<ul class="media-post">
									<li><a href="#"><i class="fa fa-calendar"></i>{{post.timestamp}}</a></li>
									<li><a href="#"><i class="fa fa-comments-o"></i>{{post.no_comments}} Comment</a></li>
									<li><a href="#"><i class="fa fa-eye"></i> views</a></li>

								</ul>
								<h5 class="post-title"><a >{{post.title}}</a></h5>
						
								<p>{{post.content}}.</p>
								<div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
								
								<div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
							</div>
						</div>
						<div class="clear" id="comment-list">
							<div class="comments-area" id="comments">
								<h2 class="comments-title">{{post.no_comments}} Comments</h2>
								<div class="clearfix m-b20">
									<!-- comment list END -->
									<ol class="comment-list">
										{% for comment in post.comments %}
										<li class="comment">
											<div class="comment-body">
												<div class="comment-author vcard"> <img class="avatar photo" src="{{comment.user.img.url}}" alt=""> <cite class="fn">{{comment.user.first_name}} {{comment.user.last_name}}</cite> <span class="says">says:</span> </div>
												<div class="comment-meta"> <a href="#">{{comment.timestamp}}</a> </div>
												<p>{{comment.content}}</p>
											</div>
											<!-- list END -->
										</li>
										{% endfor %}
									</ol>
									<!-- comment list END -->
									<!-- Form -->
									<div class="comment-respond" id="respond">
										<h4 class="comment-reply-title" id="reply-title">Leave a Comment <small> <a style="display:none;" href="#" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small> </h4>
										<form class="comment-form" id="commentform" method="post" action="{% url 'add-post-comment' post.slug %}">
											{% csrf_token %}
											<p class="comment-form-author">
											<input type="hidden" name='slug'>
											
											<p class="comment-form-comment">
												<label for="comment">Comment</label>
												<textarea required rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
											</p>
											<p class="form-submit">
												<input style="cursor:pointer;" type="submit" value="Submit Comment" class="submit" id="submit" name="submit">
											</p>
										</form>
									</div>
									<!-- Form -->
								</div>
							</div>
						</div>
						<!-- blog END -->
					</div>
					<!-- Left part END -->
					<!-- Side bar start -->
					{% include 'blog/blog-sidebar.html' %}

					<!-- Side bar END -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock  %}