{% load static %}
{% include 'header.html' %}
<body id="bg">
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	
	<div class="account-form pt-5">
		<div class="account-form-inner">
			<div class="account-container">
				<div class="pb-3 row justify-content-center">
					<a href="/" >
						<img alt="" class="ttr-logo-desktop" src="{% static 'assets/images/solulearn.png' %}" width="120" height="27">
					</a>
				</div>
				{% include 'messages.html' %}
				{% block content %}
				{% endblock %}	
			</div>
		</div>
	</div>
</div>

{% include 'js-links.html' %}