{% extends 'authentication/base-auth.html' %}
{% load static %}

{% block content %}
<style>
    #view-pw {
        position:absolute;
        top:0;
        right:0;
        z-index:1000
    }
</style>
<div class="heading-bx left">
    <h2 class="title-head"> Enter New Password  </h2>
    <p > Set New Password  </p>
</div>	
<form class="contact-bx" action="" method="post">
    {% csrf_token %}
    <input name="token" type="hidden" value="{{token}}" >
    
    <div class="row placeani">
        
        <div class="col-lg-12">
            <div class="form-group">
                <div class="input-group">
                    <label>Enter Password </label>
                    <input name="password" id = "passwordField" type="password" required="" class="form-control">
                    <span id="view-pw"> <i class="fa fa-eye"></i> </span>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12">
            <div class="form-group form-forget">
                
                <a href="{% url 'login' %}" class="ml-auto">Go to login </a>
            </div>
        </div>
        <div class="col-lg-12 m-b30">
            <button name="submit" type="submit" value="Submit" class="btn button-md">Set Password</button>
        </div>
        

    </div>
</form>

<script>
    const viewPwBtn = document.getElementById("view-pw")
    const viewPwIcon = document.querySelector(".fa")
    viewPwBtn.setAttribute('style', 'cursor:pointer')
    const passwordField = document.getElementById("passwordField")
    viewPwBtn.addEventListener('click', () => {
        if (passwordField.type == 'password') {
            passwordField.setAttribute('type', 'text')
            viewPwIcon.classList.remove('fa-eye')
            viewPwIcon.classList.add('fa-eye-slash')
            
        } else {
            passwordField.setAttribute('type', 'password')
            viewPwIcon.classList.remove('fa-eye-slash')
            viewPwIcon.classList.add('fa-eye')
        }
    })
</script>



{% endblock %}