{% extends 'main/base.html' %}
{% block content %}


<!-- inner page banner END -->
<div class="content-block">
	<!-- About Us -->
	<div class="section-area section-sp1">
		<div class="container">
			{% comment %} {% include 'messages.html' %} {% endcomment %}
			 <div class="row d-flex flex-row-reverse">
				<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
					<div class="course-detail-bx">
						<div class="course-price">
							{% if course.price == 0 %}

							<h4 class="price">Free</h4>
							{% elif course.discount == 0 %}
							<h4 class="price">${{course.price}}</h4>
							{% else %}
							<del>${{course.price}}</del>
							<h4 class="price">${{course.discount_price}}</h4>
							{% endif %} 
						</div>	
						<div class="course-buy-now text-center">
							{% if user.is_authenticated %}
							{% if is_enrolled == True %}
							<a href="{% url 'single-lesson' course.slug %}?q=" class="btn bg-success radius-xl text-uppercasevtext-white" >Continue With Course</a>
							{% elif  course.price == 0  %}
							<form method="post" id="enroll">
								{% csrf_token %}
								<input type="hidden" value={{course.slug}} name="slug" > 
								<button  class="btn btn-info radius-xl text-uppercase" id="enroll-btn">  Enroll Now</button>
							</form>
							{% else %}
							<a href="#" class="btn radius-xl text-uppercase">Buy This Course Now</a>
							{% endif %}
							{% else %}
							<a href="{% url 'login' %}?next={% url 'course-detail' course.slug %}" class="btn bg-info text-white radius-xl text-uppercasevtext-white" >Signin To continue</a>
							{% endif %}
						</div>
						<div class="teacher-bx">
							<div class="teacher-info">
								<div class="teacher-thumb">
									<img src="{{course.instructor.img.url}}" alt=""/>
								</div>
								<div class="teacher-name upper">
									<h5>{{course.instructor}}</h5>
									<span>Science Teacher</span>
								</div>
							</div>
						</div>
						<div class="cours-more-info">
							<div class="review">
								<span>{{course.no_reviews}} Review</span>
								<ul class="cours-star">
									{% for i in "12345" %}
									{% if i|add:0 <= course.average_rating %}
									<li class="active"><i class="fa fa-star"></i></li>
									{% else %}
									<li class="no-star"><i class="fa fa-star"></i></li>
									{% endif %}
									{% endfor %}
								</ul>
							</div>
							<div class="price categories">
								<span>Category</span>
								<h5 class="text-primary">{{course.category}}</h5>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-lg-9 col-md-8 col-sm-12">
					<div class="courses-post">
						<div class="ttr-post-media media-effect">
							<a href="#"><img src="{{course.thumbnail.url}}" draggable='false' style="height:300px" alt=""></a>
						</div>
						<div class="ttr-post-info">
							<div class="ttr-post-title upper">
								<h2 class="post-title">{{course.title}}</h2>
							</div>
							{% comment %} <div class="ttr-post-text">
								<p>{{course.description}}.</p>
							</div> {% endcomment %}
						</div>
					</div>
					<div class="courese-overview" id="overview">
						<h4>Overview</h4>
						<div class="row">
							<div class="col-md-12 col-lg-4">
								<ul class="course-features">
									<li><i class="ti-book"></i> <span class="label">Lectures</span> <span class="value">{{no_lessons}}</span></li>
									<li><i class="ti-time"></i> <span class="label">Duration</span> <span class="value">{{course.courseDuration}} </span></li>
									<li><i class="ti-stats-up"></i> <span class="label">Skill level</span> <span class="value">{{course.skill_level}}</span></li>
									<li><i class="ti-smallcap"></i> <span class="label">Language</span> <span class="value">English</span></li>
									<li><i class="ti-user"></i> <span class="label">Students</span> <span class="value">{{no_enrolled}}</span></li>
									<li><i class="ti-check-box"></i> <span class="label">Project</span> <span class="value">Yes</span></li>
								</ul>
							</div>
							<div class="col-md-12 col-lg-8">
								 <h5 class="m-b5">Course Description</h5>
								<p>{{course.description}}</p> 
								<h5 class="m-b5">Course Features</h5>
								{% if course.features %}
								<ul class="list-checked primary upper">
									{% for feature in course.get_features %}
									<li>{{feature}}</li>
									{% endfor %}
								</ul>
								{% else %}
								NA
								{% endif %}
							</div>
						</div>
					</div>
					<div class="m-b30" id="curriculum">
						<h4>Curriculum</h4>
						<ul class="curriculum-list">
								<li>
									<h5>Lessons</h5>
									<ul>
										{% for lesson in lessons %}
										<li>
											<div class="curriculum-list-box">
												<span>Lesson {{lesson.lesson_no}} .</span> {{lesson.title}}
											</div>
											{% comment %} {% if debug_mode == True %} {% endcomment %}
											<span>{{lesson.file_length}} mins</span>
											{% comment %} {% endif %} {% endcomment %}
										</li>
										{% endfor %}
									</ul>
								</li>
								
							</ul>
					</div>
					<div class="" id="instructor">
						<h4>Instructor</h4>
						
						<div class="instructor-bx">
							<div class="instructor-author">
								<img src="{{course.instructor.img.url}}" alt="">
							</div>
							<div class="instructor-info">
								<h6 class="upper"> {{course.instructor }} </h6>
								<span>{{course.instructor.bio}}</span>
								
								<p class="m-b0">{{course.instructor.bio}}</p>
							</div>
						</div>
					</div>
					
					
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- contact area END -->

<script >  

    const EnrollForm = document.getElementById("enroll")
    EnrollForm.addEventListener("submit", (e) => {
        e.preventDefault()
        const formData = new FormData(enroll)
        const EnrollBtn = document.getElementById("enroll-btn")
        EnrollBtn.innerHTML=`<a href="{% url 'single-lesson' course.slug %}?q=" class="btn bg-success radius-xl text-uppercasevtext-white" >Continue With Course</a>`
    
		fetch("{% url 'enroll-course' course.slug   %}", {
			body: formData,
			method: "POST",
			})
			.then((res) => res.json())
			.then((data) => {
			  console.log("data", data);
			if (data.field_error ) {
				alert("")
			}
			});
    })
</script>


{% endblock  %}