{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="page-content bg-white">
      
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'homepage' %}">Home</a></li>
					<li>Search</li>
				</ul>
			</div>
		</div>
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
                    <p class="px-4 p"> search results for "{{search_str}}"</p>
					 <div class="row">
						{% include 'courses/sidebar.html' %}
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="row">
								{% for course  in  page %}
								<div class="col-md-6 col-lg-4 col-sm-6 m-b30">
									<div class="cours-bx">
										<div class="action-box">
											<img src="{{course.thumbnail.url}}"  style="height:200px !important"  alt="">
											<a href="{% url 'course-detail' course.slug %}" class="btn">Read More</a>
										</div> 
										<div class="info-bx text-center">
											<h5><a href="{% url 'course-detail' course.slug %}">{{course.title}}</a></h5>
											<span>{{course.category}}</span>
										</div>
										<div class="cours-more-info">
											<div class="review">
												<span>{{course.no_reviews}} Review</span>
												<ul class="cours-star">
													{% for i in "12345" %}
													{% if i|add:0 <= course.average_rating %}
													<li class="active"><i class="fa fa-star"></i></li>
													{% else %}
													<li class="no-star"><i class="fa fa-star"></i></li>
													{% endif %}
													{% endfor %}
												</ul>
											</div>
											
											<div class="price">
													{%if course.price == 0 %}
													<h5 class="free">Free</h5>	
													{% elif course.discount == 0.0 %}
													<h5>${{course.price}}</h5>	
													{% else %}
													<del>${{course.price}}</del>
													<h5>${{course.discount_price}}</h5>
													{% endif %}	
											</div>
										</div>
									</div>
								</div>
								{%empty%}
								No courses 
								{% endfor %}
							</div>
							<nav class="pagination-bx rounded-sm gray clearfix ">
								<ul class="pagination">
									{% if page.has_previous %}
									<li class="page-item ">
										<a class="page-link" href="?page={{ page.previous_page_number }}&q={{search_str}}" tabindex="-1"> <i class="ti-arrow-left"> Previous</i></a>
									</li>
								{% else %}
									<li class="page-item ">
										<a class="page-link disabled" href="" tabindex="-1" aria-disabled="true" > <i class="ti-arrow-left"> Previous</i></a>
									</li>
									{% endif %}
									{% for page_num in page.paginator.page_range %}
										{% if page_num == page.number %}
									<li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
									{% else %}
									<li class="page-item"><a class="page-link" href="?page={{ page_num }}&q={{search_str}}">{{ page_num }}</a></li>
									{% endif %}
									{% endfor %}
			
									{% if page.has_next %}
									<li class="page-item">
										<a class="page-link" href="?page={{ page.next_page_number }}&q={{search_str}}">Next <i class="ti-arrow-right"></i></a>
									</li>
									{% else %}
									<li class="page-item">
										<a class="page-link disabled" aria-disabled="true" href="">Next <i class="ti-arrow-right"></i></a>
									</li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
				</div>
            </div>
        </div>
		<!-- contact area END -->
		
    </div>


{% endblock %}