{% load static %}
<link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon" />

<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
    <div class="widget courses-search-bx placeani">
        <form class="form-group">
            <div class="input-group">
                <label>Search Courses</label>
                <input name="q" type="text" required class="form-control">
            </div>
        </form>
    </div>
    <div class="widget widget_archive">
        <h5 class="widget-title style-1">Our Courses</h5>
        <ul>
            <li class=""><a href="{% url 'all-courses' %}">See All Courses</a></li>
            {% for course_category in courseCategories %}
            <li class=""><a href="{% url 'all-courses'  %}?category={{course_category.name}}">{{course_category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
  
    <div class="widget recent-posts-entry widget-courses">
        <h5 class="widget-title style-1">Recent Courses</h5>
        <div class="widget-post-bx">

            {% for course in recent_courses %}
            <div class="widget-post clearfix">
                <div class="ttr-post-media"> <img src="{{course.thumbnail.url}}" width="200" height="143" alt=""> </div>
                <div class="ttr-post-info">
                    <div class="ttr-post-header">
                        <h6 class="post-title"><a href="#">{{course.title}}</a></h6>
                    </div>
                    <div class="ttr-post-meta">
                        
                        <ul> 
                            <li class="price">
                            {%if course.price == 0 %}
                            <h5 class="free">Free</h5>	
                            {% elif course.discount == 0.0 %}
                            <h5>${{course.price}}</h5>	
                            {% else %}
                                <del>${{course.price}}</del>
                                <h5>${{course.discount_price}}</h5>
                                {% endif %}	
                            </li>
                            <li class="review">{{course.no_of_reviews}} Review</li>
                        </ul>
                    </div>
                </div>
            </div>
            {%empty%}
        NO courses yet
            {% endfor %}
        </div>
    </div>
</div>